[Unit]
Description=EriTV Livestream
After=network.target network-online.target graphical.target

[Service]
ExecStart=/home/babraham/play_video.sh
WorkingDirectory=/home/babraham
StandardError=journal
Restart=always
RestartSec=10
Type=simple
User=babraham

ExecStop=/usr/bin/killall livestreamer
User=babraham

[Install]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/babraham/.Xauthority"
WantedBy=graphical.target
